<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado cambiar tu contraseña. Puedes cambiarla a través de este enlace:</p>

<p><%= link_to 'Cambio de Contraseña', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Si tu no solicitaste esto, por favor haznos lo saber aquí e ignora este email.</p>
<p>Tu contraseña no será cambiada hasta que ingreses a este enlace y crees una nueva.</p>
