<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada debido a un alto número de intentos de ingresar con las credenciales equivocadas.</p>

<p>Haz click en el enlace abajo para desbloquear tu cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
