<div id="main-content">

&Uacute;ltima Actualización: 14 de marzo, 2013

<p><strong>Nuestro compromiso a tu privacidad</strong></p>

<p>
  Tenemos el compromiso de respetar y proteger tu privacidad. Para ayudarnos con este compromiso, esta política establece como recabamos tu información, y tus opciones para accederlo y corregirlo. Esta política aplica a toda la información que recabamos en cualquier momento durante nuestra relación contigo.
</p>

<p><strong>Revocación de Consentimiento</strong></p>

<p>
En todo momento podrás revocar el consentimiento que nos has otorgado para el tratamiento de sus datos personales, a fin de que dejemos de hacer uso de los mismos. Para ello, es necesario que presentes tu petición por correo electrónico a privacy@ampleo.mx.
<br/><br />
Tendremos un plazo máximo de 10 días hábiles para atender tu petición y te informaremos sobre la procedencia de la misma a través de un email.
</p>

<p><strong>Información que recabamos y de dónde</strong></p>

<p>Para las finalidades señaladas en este aviso de privacidad, podemos recabar tus datos personales de distintas formas: a través de páginas y formularios en nuestro sitio web, vía email, por teléfono, de otros sitios web con información públicamente disponible, y cuando obtenemos información a través de otras fuentes que están permitidas por la ley.
    <br /> <br/>
    Los datos que obtenemos por estos medios pueden ser, entre otros:
    <ul>
    <li>Nombre
    <li>Sexo
    <li>Información de contacto (email, teléfono y dirección)
    <li>Educación y habilidades
    <li>Experiencia laboral
    <li>Intereses
    <li>Otra información necesaria para procesos de reclutamiento
    </ul>
  </p>

<p><strong>Como usamos tu información</strong></p>

<p>Debido a la naturaleza de nuestro servicio, tendremos que usar tu información y compartirlo con terceros.
    <br /><br />
    Sus datos personales serán utilizados para las siguientes finalidades:
    <ul>
    <li>Compartir con la(s) empresa(s) que te han citado para entrevista para su(s) vacante(s)
    <li>Dar seguimiento a tu(s) proceso(s) de entrevistas
    <li>Buscar y recomendar empleadores y oportunidades de trabajo que creemos serán de interés
    <li>Informarte sobre nuevos servicios o productos que están relacionados con nuestros servicios de reclutamiento
    <li>Informarte sobre cambios de nuestros servicios
    <lI>Evaluar la calidad del servicio
    <li>Dar cumplimiento a obligaciones contraídas con nuestros clientes
    <lI>Realizar estudios internos sobre hábitos de consumo
    </ul>
  </p>

<p><strong>Responsable del tratamiento de tus datos personales</strong></p>
<p>
Abare Consulting S.A. de C.V. es responsable del tratamiento de tus datos personales, con domicilio en Dakota 361, Col Napoles, Benito Juarez, 03810, Distrito Federal.
<br /><br />
Puedes contactarnos por email a contact@ampleo.mx.
</p>

<p><strong>Limitación del uso</strong></p>
<p>
Puedes dejar de recibir correos electrónicos con promocionales, mandando tu petición a <%= mail_to("privacy@ampleo.mx") %>.
</p>

<p><strong>Acceder, Corregir y Eliminar Información</strong></p>
<p>
Puedes acceder a la información que  tenemos acerca de ti por enviarnos un email a <%= mail_to("privacy@ampleo.mx") %>.
<br /><br />
Puedes pedirnos corregir errores factuales en tu información personal si nos proporcionas suficiente evidencia del error.
<br /><br />
En el caso de que decides terminar tu relación con nosotros, puedes pedirnos eliminar toda la información personal que tenemos acerca de ti.
<br /><br />
Para mejor proteger tu privacidad, tomaremos medidas razonables para verificar tu identidad antes de otorgar acceso, hacer correcciones, o eliminar información.
</p>

<p><strong>Comunicación a terceros</strong></p>
<p>
Tus datos personales pueden ser transferidos y tratados dentro y fuera del país, por personas distintas a Abare Consulting S.A. de C.V.. En ese sentido, tu información puede ser compartida con posibles empleadores y empresas con vacantes abiertas, para propósitos de reclutamiento.
</p>

<p><strong>Cookies</strong></p>

    <p>
    Una cookie es un pequeño archivo de información de formato texto que las navegadores web colocan en el disco duro de la computadora u otro dispositivo de navegación de internet del usuario. Las cookies permiten que las aplicaciones web respondan al usuario de manera individual con el propósito de brindar una mejor experiencia.
    <br /><br />
    Principalmente utilizamos cookies para dar nuestro servicio y asegurar que puedes navegar en nuestro sitio web sin dificultades, por ejemplo cuando estás completando una entrevista. Estos son cookies de 'sesión' que no contienen información personal y que son borradas cuando cierras tu navegador. También utilizamos cookies para analizar el uso de diferentes páginas de nuestro sitio web, pero este proceso es anónimo ya que estos cookies no contienen información personal identificable.
    <br /><br />
    Puedes elegir entre aceptar o rechazar las cookies. La mayoría de las navegadores web aceptan las cookies de forma automática, pero puedes modificar la configuración de tu navegador para rechazar las cookies, si prefieres.
    </p>

<p><strong>Modificaciones al aviso de privacidad</strong></p>
<p>
Nos reservamos el derecho de efectuar en cualquier momento modificaciones o actualizaciones al presente aviso de privacidad, para la atención de novedades legislativas o jurisprudenciales, políticas internas, nuevos requerimientos para la prestación u ofrecimiento de nuestros servicios o productos y prácticas del mercado.
<br /><br />
Estas modificaciones estarán disponibles al público a través de nuestra página de Internet ampleo.mx/privacidad, o te las haremos llegar al último correo electrónico que nos hayas proporcionado.
</p>

<p><strong>Seguridad de los datos</strong></p>
<p>
Mantenemos los controles adecuados con el fin de prevenir acceso no autorizado, mantener la precisión y asegurarnos que tu información es usado solo para los propósitos correctos.
<br /><br />
Solo trabajaremos con terceros que también cumplen con estas expectativas.
</p>

<p><strong>Como contactarnos</strong></p>
<p>
En el caso de que tengas preguntas o preocupaciones acerca de nuestra política de privacidad o tu información, puedes mandarnos un email a <%= mail_to("privacy@ampleo.mx") %>.
</p>
</div>