<div id="main-content">

<p>&Uacute;ltima Actualización: 14 de marzo, 2013</p>

    <p>
      Los presentes t&eacute;rminos de uso regulan la forma en que puedes utilizar la p&aacute;gina de Ampleo.mx y todo el contenido, servicios y productos disponibles en o a trav&eacute;s de la p&aacute;gina web incluyendo, pero no limitado a, los servicios en Interview.ampleo.mx (tomado juntos, el Sitio Web).</p>
    <p>
      Abare Consulting S.A. de C.V. te otorga una licencia de las aplicaciones de reclutamiento, accesibles en interview.ampleo.mx (el Software).</p>
    <p>
      El Software y el Sitio Web son la propiedad de, y operados por, Abare Consulting S.A. de C.V.</p>
    <p>
      El Sitio Web&nbsp; y el Software est&aacute;n ofrecidos, sujeto a tu aceptaci&oacute;n sin modificaci&oacute;n de todos los t&eacute;rminos de uso contenidos presente y todas las otras pol&iacute;ticas operativas (incluyendo, pero no limitado a, la pol&iacute;tica de privacidad), y procedimientos que pueden ser publicados de vez en cuando en este Sitio Web por Abare Consulting S.A. de C.V (colectivamente el Convenio).</p>
    <p>
      Por favor lee este Convenio cuidadosamente antes de acceder el Sitio Web. Al seguir utilizando o accediendo cualquier parte del Sitio Web o del Software, te comprometes a quedar vinculado por las condiciones de este Convenio. Si no est&aacute;s de acuerdo con alguna parte de las condiciones de este convenio, entonces no puedes acceder al Sitio Web ni utilizar sus servicios. No puedes aceptar estas condiciones si no eres mayor de edad para celebrar un contrato vinculante con Abare Consulting.</p>
    <p>
      Ocasionalmente, Abare Consulting podr&aacute; modificar este Convenio. Los cambios ser&aacute; publicados en ampleo.mx/legal. Las modificaciones entrar&aacute;n en vigor a partir de su publicaci&oacute;n. Consulta las condiciones del Convenio peri&oacute;dicamente. Al seguir utilizando este sitio despu&eacute;s de haber publicado los cambios, te&nbsp; comprometes a aceptar los cambios, ya sea o no que los hayas revisado.</p>
    <p>
      <strong>Licencia</strong></p>
    <p>
      Sujeto a tu cumplimiento por tu parte a este Convenio, se te otorga una licencia para usar personalmente el Software a trav&eacute;s de tu cuenta individual (Cuenta de Usuario). La licencia es limitada, no exclusiva no puede sublicenciarse o cederse.</p>
    <p>
      No puedes, y aceptas no hacer, lo siguiente:</p>
    <p>
      Sublicenciar, vender, ceder, alquilar, arrendar, exportar, importar, distribuir o transferir ni otorgar derechos a ning&uacute;n tercero el Software.</p>
    <p>
      Realizar, causar, permitir o autorizar la modificaci&oacute;n, creaci&oacute;n de trabajos derivados o mejoras, traducci&oacute;n, ingenier&iacute;a inversa, descompilaci&oacute;n, desarmado, decodificaci&oacute;n, emulaci&oacute;n, descubrimiento o intenci&oacute;n de descubrir el c&oacute;digo fuente o los protocolos del Software o cualquiera de sus partes o caracter&iacute;sticas (excepto en la medida en que lo permitan las leyes).</p>
    <p>
      Quitar, ocultar o alterar cualquier aviso de derecho de propiedad intelectual o dem&aacute;s avisos de propiedad incluidos en el Software.</p>
    <p>
      Usar el software o hacer que el Software (o cualquiera de sus partes) se use dentro de servicios o productos comerciales ni tampoco usarlo para proveer tales servicios o productos a terceros.</p>
    <p>
      <strong>Uso del Software</strong></p>
    <p>
      A fin de usar el Software, necesitar&aacute;s una computadora, laptop, tablet u otro dispositivo con una conexi&oacute;n a internet de banda ancha. Es tu responsabilidad proporcionar todo el equipo necesario para acceder a Internet.</p>
    <p>
      Ocasionalmente, es posible que Abare Consulting necesita actualizar o realizar mantenimientos del Software, y para ello es posible que se requiera que se suspenda temporalmente o limite el uso de parte o de la totalidad del Software. No tendr&aacute;s derecho a reclamar por da&ntilde;os a causa de tal suspensi&oacute;n o limitaci&oacute;n del uso del Software.</p>
    <p>
      Abare Consulting no puede garantizar que el Software funciona sin interrupciones, demoras ni errores. Diferentes factores pueden afectar la calidad del servicio, incluyendo, pero no limitado a: la red local, el provedor de servicios de internet, la internet p&uacute;blica, la luz p&uacute;blica. Abare Consulting no ser&aacute; responsable de ninguna interrupci&oacute;n ni demora causada por fallas en cualquier de estos &iacute;tems, o cualquier otro &iacute;tem sobre el que no tengamos control.</p>
    <p>
      <strong>Tu Responsabilidad</strong></p>
    <p>
      Como usuario del Software, tendr&aacute;s tu propio Cuenta de Usuario para lo cual necesitar&aacute;s seleccionar una contrase&ntilde;a. Te recomendamos elegir una contrase&ntilde;a que sea dif&iacute;cil de adivinar. Solo puedes usar el Software a trav&eacute;s de tu Cuenta de Usuario, y tu eres responsable para todas las actividades llevados a cabo a trav&eacute;s de tu Cuenta de Usuario.</p>
    <p>
      Como usuario de Ampleo, al aceptar estas condiciones, te comprometes a:</p>
    <p>
      a) No usar nuestro sitio web en cualquier forma que sea ilegal, fraudulenta o perjudicial, o en conexi&oacute;n con ning&uacute;n prop&oacute;sito o actividad ilegal, fraudulenta o perjudicial.</p>
    <p>
      b) Utilizar la plataforma de Ampleo y la informaci&oacute;n que te proporciona, &uacute;nicamente para el prop&oacute;sito de reclutamiento.</p>
    <p>
      c) Tratar a los dem&aacute;s con respeto, no insultar ni ofender a terceros, no difundir informaci&oacute;n falsa, no incitar a la violencia o a la comisi&oacute;n de alg&uacute;n delito.</p>
    <p>
      d) No revender ni comercializar el Software a terceros</p>
    <p>
      <strong>Derechos de Propiedad</strong></p>
    <p>
      El Software y el Sitio Web contienen informaci&oacute;n confidencial.</p>
    <p>
      A menos que se indique lo contrario, todos los materiales en el Sitio Web son propiedad de Abare Consulting S.A. de C.V. y nos reservamos todos los derechos sobre los mismos. A los efectos de este aviso, los materiales incluyen pero no son limitados al dise&ntilde;o gr&aacute;fico, texto y c&oacute;digo de programaci&oacute;n. Puedes acceder a los materiales de este sitio y hacer uso de la funcionalidad y servicios disponibles s&oacute;lo para los prop&oacute;sitos expl&iacute;citamente indicados.</p>
    <p>
      No est&aacute;s autorizado para utilizar o reproducir ninguno de estos elementos sin la autorizaci&oacute;n por escrito de Abare Consulting S.A. de C.V.</p>
    <p>
      Las marcas o avisos comerciales que aparecen en la publicidad de nuestro sitio web son propiedad de sus respectivos titulares, y no nos reservamos ning&uacute;n derecho respecto de los mismos.</p>
    <p>
      <strong>Terminaci&oacute;n</strong></p>
    <p>
      Tu puedes finalizar tu relaci&oacute;n con Abare Consulting en cualquier momento solicitando el cierre de tu Cuenta de Usuario.</p>
    <p>
      Abare Consulting puede terminar tu acceso a todo o cualquier parte del Software o del Sitio Web en cualquier momento, con o sin cause, con o sin noticia, efectivo inmediatamente.</p>
    <p>
      Todas las provisiones de este Convenio que, por su naturaleza, sobreviven la terminaci&oacute;n, sobrevivir&aacute;n la terminaci&oacute;n, incluyendo, pero no limitado a, disposiciones de propiedad, renuncias de garant&iacute;a, indemnidad y limitaciones de responsabilidad.</p>
    <p>
      <strong>Renuncias de Garant&iacute;a</strong></p>
    <p>
      El Software, y el Sitio Web se proporcionan en su estado actual con todos los riesgos que surjan del uso sin garant&iacute;as de ning&uacute;n tipo. Abare Consulting S.A. de C.V. no ofrece garant&iacute;as, afirmaciones ni declaraciones y renuncia expresamente a toda garant&iacute;a, ya sea explicita, impl&iacute;cita, jurada, en relaci&oacute;n con el Software y el Sitio Web.</p>
    <p>
      <strong>Limitaci&oacute;n de Responsabilidad</strong></p>
    <p>
      Reconoces y aceptas que Abare Consulting S.A. de C.V. no tendr&aacute; responsabilidad alguna, ya sea en contrato ni ninguna otra teor&iacute;a de responsabilidad, ya sea que la posibilidad de dicho da&ntilde;o o dicho perdida haya sido notificado o no a Abare Consulting S.A. de C.V., que surja o se relaciona con tu uso del Sitio Web o el Software.</p>
    <p>
      Tu &uacute;nico derecho o recurso legal ante cualquier problema o desconformedad con el Software o el Sitio Web es dejar&nbsp; de usar el Software o el Sitio Web inmediatamente.</p>
    <p>
      <strong>Indemnizaci&oacute;n</strong></p>
    <p>
      Aceptas indemnizar y eximir de responsabilidad Abare Consulting S.A. de C.V., sus proveedores y licenciantes y sus respectivos directores, empleados y representativos de y contra cualquier gasto, incluyendo gastos legales, que surjan de tu uso del Sitio Web o del Software, incluyendo pero no limitado a tu violaci&oacute;n de este Convenio.</p>
    <p>
      <strong>Jurisdicci&oacute;n legal</strong></p>
    <p>
      En caso de existir controversia en relaci&oacute;n al uso de este sitio web, el contenido publicado, los t&eacute;rminos de uso o la pol&iacute;tica de privacidad, aceptas someterte a la jurisdicci&oacute;n de los Tribunales Federales y a las Leyes Federales vigentes en territorio de los Estados Unidos Mexicanos.</p>

</div>