<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p style="margin-left: 40px; font-size: 15px;">
    Hola,
  </p>

  <p style="margin-left: 40px; font-size: 15px;">
    Parece que ya has aplicado para esta vacante. Si crees que esto no es correcto, o si no has recibido la invitación para tu entrevista, por favor responde a este correo.
  </p>

  <p style="margin-left: 40px; font-size: 15px;">
    Saludos,<br /><br />El Equipo en Ampleo
  </p>
</body>
</html>