<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p style="margin-left: 40px; font-size: 15px;">
    Lo sentimos pero por el momento no se puede aceptar aplicaciones para esta vacante a través de este correo.
  </p>

  <p style="margin-left: 40px; font-size: 15px;">
    Por favor revisa las instrucciones en la descripción de la vacante.
  </p>

  <p style="margin-left: 40px; font-size: 15px;">
    Saludos,
    <br /><br />
    El Equipo en Ampleo
  </p>
</body>
</html>