<div id="main-content">
      <p>
        Gracias por terminar tu entrevista virtual para el puesto de <span class="dynamic-text"><%= @candidate.position_name %></span> en <span class="dynamic-text"><%= @candidate.company_name %></span>.
      </p>

      <p>
        Estaremos en contacto próximamente por email para informarte sobre los próximos pasos en este proceso.
      </p>

</div> <!-- Main Content -->