<div id="main-content">

  <div class="error-1">
    Ups! Acceso Denegado.
  </div>

  <div class="error-2">
    Lo sentimos, pero parece que no tienes autorización para ver esta página.
  </div>

  <div class="error-3">
    Te sugerimos regresar a la página anterior e intentar de nuevo. Si el problema persiste no dudes en ponerte en contacto directo con nosotros.
  </div>

</div>