<div id="main-content">

  <div class="error-1">
    Ups! P치gina no encontrado.
  </div>

  <div class="error-2">
    Lo sentimos, pero no se puede encontrar la p치gina.
  </div>

  <div class="error-3">
    Te sugerimos regresar a la p치gina anterior e intentar de nuevo. Si el problema persiste, o si no encuentras lo que est치s buscando no dudes en ponerte en contacto directo con nosotros.
  </div>

</div>