<div id="main-content">

  <div class="error-1">
    Ups! Error de sistema.
  </div>

  <div class="error-2">
    Lo sentimos, ha ocurrido un error en el sistema.
  </div>

  <div class="error-3">
    te sugerimos regresar a la página anterior e intentar de nuevo. Si el problema persiste no dudes en ponerte en contacto directo con nosotros.
  </div>

</div>