      <div id="auto_receive_app">
        <p>Para recibir aplicaciones automáticamente, los candidatos sólo necesitan mandar su solicitud a <a href="#">reclutamiento@candidates.ampleo.mx</a> e incluir la ID de la entrevista (incluyendo el ‘#’) en el asunto de su email.</p>

        <p>La ID de entrevista se encuentra en las páginas de confirmación y de administración de la entrevista.</p>

        <div class="example_interview_id">
          <div id="first_example">
            <span class="example_location"><em>Ej.</em> Página de Confirmación</span>
            <table id="confirmation_page">
              <tr>
                <td class="col1">ID de Entrevista:</td>
                <td class="col2">#FIMY1</td>
              </tr>
            </table>
          </div>

          <div id="second_example">
            <span class="example_location"><em>Ej.</em> Página de Administración</span>
            <table id="home_page">
              <tr>
                <td class="col1">ID de Entrevista</td>
                <td class="col2">#FIMY1</td>
              </tr>
            </table>
          </div>
        </div>
      </div>