



  <h3>Cambio de fecha límite o entrevista reabierta</h3>

  <p>
    Si se modifica la fecha límite o si se re-abre una entrevista, se envía un email a todos los candidatos que no han completado su entrevista con la siguiente información:
  </p>

  <ul>
    <li>El nombre de la vacante y el nombre de tu empresa</li>
    <li>Detalles de como llevarlo a cabo</li>
    <li>La nueva fecha límite</li>
  </ul>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Modificar la fecha límite de una entrevista") %><br />
    <%= link("Re-abrir una entrevista") %>
  </p>



