



  <h3>Cerrar una entrevista</h3>

  <p>
    Si quieres cerrar una entrevista antes de la fecha límite (por ejemplo porque ya contrataste a alguien), puedes hacerlo a través de la Página de Manejo de la Entrevista, haciendo clic en ‘Cerrar Entrevista’<br />
    <%= image_tag('/assets/guides/28.jpg') %>
  </p>

  <p>
    y haciendo clic en ‘OK’ en el popup<br/>
    <%= image_tag('/assets/guides/29.jpg') %>
  </p>

  <p>
    Cuando cierras una entrevista:
  </p>

  <ul>
    <li>Los candidatos ya no podrán participar en la entrevista (si ya no lo hayan hecho)</li>
    <li>Todos los candidatos que no han completado la entrevista recibirán un email para informarlos que ya está cerrada</li>
  </ul>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Re-abrir una entrevista") %><br />
    <%= link("Entrevista cerrada") %>
  </p>



