<h3>Como incrementar el límite de candidatos</h3>

<p>Si  ya no tienes Candidatos Restantes y necesitas entrevistar a más personas antes del mes siguiente, hay dos formas de incrementar tu límite de candidatos para el mes actual:</p>

<p><strong>1. Borrar Candidatos Existentes</strong></p>

<p>Es posible incrementar el número de Candidatos Restantes mediante la eliminación de candidatos existentes <span style="text-decoration: underline">que no han comenzado su entrevista.</span></p>

<p>Nota: Si una persona ya ha comenzado su entrevista, al eliminarlo no incrementará el número de candidatos disponibles</P>

<p><strong>2. Comprar Candidatos Adicionales</strong></p>

<p>También puedes comprar candidatos adicionales en un mes determinado si ya has utilizado todos los candidatos incluidos en el paquete contratado por tu empresa.</p>

<p>Si deseas comprar candidatos adicionales, por favor habla con el administrador de tu cuenta dentro de tu empresa, o puedes contactarnos <%= link_to "aquí", recruiter_technical_support_path(@recruiter) %>.</p>

<p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Límites de candidatos") %><br />
    <%= link("Borrar un candidato") %>
</p>