



  <h3>Entrevista cerrada</h3>

  <p>
    Cuando se vence la fecha límite, la entrevista se cierra y se envía un email a todos los candidatos que no han completado su entrevista con la siguiente información:
  </p>

  <ul>
    <li>El nombre de la vacante y el nombre de tu empresa</li>
    <li>El aviso que ya está cerrada la entrevista y que ya no puede participar</li>
  </ul>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Cerrar una entrevista") %><br />
    <%= link("Modificar la fecha límite de una entrevista") %><br />
    <%= link("Re-abrir una entrevista") %>
  </p>



