



  <h3>Fecha límite</h3>

  <p>
    Esta es la fecha límite que tendrán los candidatos para completar la entrevista. Después de esta fecha, el sistema no aceptará más respuestas.
  </p>

  <p>
    Los candidatos que no han completado la entrevista recibirán un recordatorio 48 horas antes de la fecha límite.
  </p>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Página de manejo de entrevista") %><br />
    <%= link("Crear una entrevista") %><br />
    <%= link("Modificar la fecha límite de una entrevista") %>
  </p>



