<h3>Historia del candidato</h3>

<p>
Si el candidato ya fue considerado para otra vacante dentro de tu empresa o organización, se puede ver un breve resumen de su historia desde la página de manejo del candidato:
</p>

<p>
    <%= image_tag('/assets/guides/60.jpg') %>
</p>

<p>
Para cada entrevista anterior, podrás ver:
<ul>
  <li>Nombre de la empresa</li>
  <li>Nombre de la vacante</li>
  <li>Fecha en que se realizó la entrevista (si no se realizó, verás 'Entrevista no completada')</li>
  <li>Estado final del candidato: Aceptado, Rechazado o Pendiente</li>
</ul>
</p>

<p class="more-links">
  <strong>Más información:</strong><br />
  <%= link("Página de manejo del candidato") %><br />
  <%= link("Agregar candidatos a una entrevista") %>
</p>