



  <h3>ID de entrevista</h3>

  <p>
    La ID de Entrevista es el identificador único de tu entrevista. Puedes encontrar la ID:
  </p>

  <p>
    En la página de confirmación una vez que hayas creado la entrevista<br />
    <%= image_tag('/assets/guides/26.jpg') %>
  </p>

  <p>
    Alternativamente, puedes encontrarla en la Página de Manejo de la Entrevista<br />
    <%= image_tag('/assets/guides/27.jpg') %>
  </p>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Página de manejo de entrevista") %><br />
    <%= link("Crear una entrevista") %>
  </p>



