



  <h3>Invitación</h3>

  <p>
    Cuando agregas un candidato a una entrevista (manual o automaticamente), el candidato recibirá un email de invitación con la siguiente información:
  </p>

  <ul>
    <li>El nombre de la vacante y el nombre de tu empresa</li>
    <li>Detalles de como llevarlo a cabo</li>
    <li>La fecha límite</li>
  </ul>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Crear una entrevista") %>
  </p>



