<h3>Límites de candidatos</h3>

<p>Tu cuenta tiene un límite en el número candidatos que puedes entrevistar cada mes, depende del paquete que fue contratado por tu empresa.</p>

<p>Una vez que alcanzas este límite, no podrás agregar más personas a tus entrevistas hasta el mes siguiente.</p>

<p>Puedes ver información sobre el límite de candidatos y candidatos disponibles en el lado izquierdo de la barra de navegación cuando estás firmado en tu cuenta:<br />
  <%= image_tag('/assets/guides/59.jpg') %>
</p>

<p><strong>Candidatos Usados</strong>: El número de candidatos que ya fueron utilizados durante el mes actual</p>

<p><strong>Candidatos Restantes</strong>: El número de candidatos actualmente disponibles, basado en el paquete contratado por tu empresa</p>

<p>El Total de Candidatos se puede calcular sumando los Candidatos Usados y los Candidatos Restantes.</p>

<p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Agregar candidatos a una entrevista") %><br />
    <%= link("Recibir solicitudes automáticamente") %><br />
    <%= link("Como incrementar el límite de candidatos") %>
</p>

