



  <h3>Nombre del puesto</h3>

  <p>
    Esto es el nombre de la vacante relacionada con la entrevista.
  </p>

  <p>
    Se recomienda que sea igual al nombre del puesto en la descripción publicada para que los candidatos pueden identificar la posición en las comunicaciones que se reciben acerca de la entrevista.
  </p>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Página de manejo de entrevista") %><br />
    <%= link("Crear una entrevista") %>
  </p>



