



  <h3>Rechazar un candidato</h3>

  <p>
    Si deseas rechazar a un candidato sólo haz clic en ‘Rechazar Candidato’ en la Página de Manejo del Candidato<br />
    <%= image_tag('/assets/guides/38.jpg') %>
  </p>

  <p>
    El candidato recibirá el siguiente email:
  </p>

  <div class="guide-email">

  <p>
    “Hola,
  </p>

  <p>
    Muchas gracias por participar en la fase de entrevista virtual para el puesto de Nombre del Puesto en Nombre de la Empresa.
  </p>

  <p>
    Desafortunadamente tu perfil no coincide con las necesidades de la vacante por lo cual no se procederá con tu aplicación en la siguiente etapa.
  </p>

  <p>
    Te deseamos mucha suerte con tu búsqueda de trabajo.
  </p>

  <p>
    Saludos,
  </p>

  <p>
    El Equipo en Ampleo”
  </p>

  

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Página de manejo de entrevista") %><br />
    <%= link("Crear una entrevista") %><br />
    <%= link("Página de manejo del candidato") %>
  </p>



