



  <h3>Recibir solicitudes</h3>

  <p>
    Te ofrecemos la funcionalidad para completamente automatizar tu proceso de filtro de candidatos.
  </p>

  <p>
    Ampleo puede recibir solicitudes de candidatos y agregarlos automaticamente a tus entrevistas.
  </p>

  <p>
    Sólo selecciona ‘Sí’ en el campo de ‘Recibir solicitudes?’ en el Paso 1 de crear la entrevista<br />
    <%= image_tag('/assets/guides/11.jpg') %>
  </p>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Página de manejo de entrevista") %><br />
    <%= link("Crear una entrevista") %><br />
    <%= link("Recibir solicitudes automáticamente") %>
  </p>



