



  <h3>Recordatorio</h3>

  <p>
    Los recordatorios se envían 48 horas antes de la fecha límite a todos los candidatos que no han completado su entrevista con la siguiente información:
  </p>

  <ul>
    <li>El nombre de la vacante y el nombre de tu empresa</li>
    <li>Detalles de como llevarlo a cabo</li>
    <li>La fecha límite</li>
  </ul>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Crear una entrevista") %><br />
    <%= link("Modificar la fecha límite de una entrevista") %>
  </p>



