



  <h3>Recomendar amigos</h3>

  <p>
    Ampleo tu puede ayudar a aumentar tu lista de posibles candidatos.
  </p>

  <p>
    Como parte del proceso de entrevista, puedes pedir a los candidatos recomendar a sus amigos y/o conocidos para la posición.
  </p>

  <p>
    Esto puede ser muy útil cuando estás reclutando frecuentemente para el mismo tipo de vacante, por ejemplo posiciones de Servicio al Cliente o de Ventas.
  </p>

  <p>
    Para habilitar esta opción, selecciona ‘Sí’ en el campo de ‘Recomendar amigos?’ en el Paso 1 de crear la entrevista<br />
    <%= image_tag('/assets/guides/13.jpg') %>
  </p>

  <p>
    Cuando los candidatos han terminado de contestar las preguntas, tendrán la oportunidad de proporcionar las direcciones de email de sus amigos y/o conocidos.
  </p>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Página de manejo de entrevista") %><br />
    <%= link("Crear una entrevista") %><br />
    <%= link("Página de manejo del candidato") %>
  </p>



