  <h3>Requerir referencias</h3>

  <p>
    Como parte del proceso de entrevista, puedes requerir que los candidatos proporcionen los datos de contacto de dos referencias laborales.
  </p>

  <p>
    Para habilitar esta opción selecciona ‘Sí’ en el campo de ‘Requerir referencias?’ en el Paso 1 de crear la entrevista<br />
    <%= image_tag('/assets/guides/14.jpg') %>
  </p>

  <p>
    Cuando los candidatos han terminado de contestar las preguntas, tendrán que proporcionar los siguientes datos de dos referencias laborales:
  </p>

  <ul>
    <li>Nombre</li>
    <li>Dirección de email</li>
    <li>Relación (como conoce a la persona)</li>
  </ul>

  <p class="more-links">
    <strong>Más información:</strong><br />
    <%= link("Página de manejo de entrevista") %><br />
    <%= link("Crear una entrevista") %><br />
    <%= link("Página de manejo del candidato") %>
  </p>



