<header id="header">
<%= link_to image_tag("logo_1_small.png", class: "logo"), "http://ampleo.mx" %>
<!-- <span id="nav-left" class="nav">
    <ul>
      <li><a href="features.html" class="features">Funcionalidad</a></lI>
      <li><a href="pricing.html" class="pricing" class="pricing">Precio</a></li>
      <li><a href="contact.html" id="link-contact" class="contact">Contacto</a></li>
    </ul>
</span>
<span id="nav-right" class="nav">
    <ul>
      <li><a href="http://107.22.224.217/recruiters/sign_in" id="sign-in">Ingresar</a></li>
    </ul>
</span> -->
</header>