<div id="header-col-left">
    <strong>Administrative Dashboard</strong><br />
    <%= @admin.email %>
</div>
<div id="header-col-right">
  <%= link_to t(:home), @admin %>&nbsp;&nbsp;
  <%= link_to t(:logout), destroy_admin_session_path, :method => :delete  %>
</div>